@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Poppins:wght@300&display=swap');

:root {
  /* light theme */
  --background-color-1: #FCD7AD;
  --snake-color-1: #5296A5;
  --food-color-1: #A57548;
  --board-color-1: #82DDF0;
  --text-color-2: #000;

  /* dark theme */
  --background-color-2: #1B2845;
  --snake-color-2: #FF4F79;
  --food-color-2: #A11692;
  --board-color-2: #17183B;
  --text-color-2: #fff;

  --background-color: var(--background-color-1);
  --snake-color: var(--snake-color-1);
  --food-color: var(--food-color-1);
  --board-color: var(--board-color-1);
  --text-color: var(--text-color-1);
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background: var(--background-color);
  box-sizing: border-box;
  color: var(--text-color);
}

.board-defaults {
  border: 1px solid var(--food-color);
  border-radius: 5px;
}

.board-level-hard {
  border: 5px solid var(--snake-color);
}

#scores-div {
  gap: 24px;
  font-size: 1.2rem;
  font-weight: bolder;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

select {
  margin-top: 3px;
  padding: 2px 6px;
  background-color: var(--snake-color);
  border: 1px solid var(--snake-color);
  border-radius: 5px;
  color: var(--text-color);
}

#game-over {
  font-size: 1.2rem;
  font-weight: bold;
}

.hide-element {
  visibility: hidden;
}