@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Poppins:wght@300&display=swap');

:root {
  /* neon theme */
  --background-color: #1B2845; /*#1B2845*/
  --snake-color: #FF4F79;
  --food-color: #A11692;
  --board-color: #17183B;
  --text-color: #fff;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  height: 98vh;
  background: var(--background-color);
  box-sizing: border-box;
  color: var(--text-color);

  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.board-defaults {
  border: 1px solid var(--food-color);
  border-radius: 5px;
}

.board-level-hard {
  border: 5px solid var(--snake-color);
}

#scores-div {
  gap: 20px;
  font-size: 1.2rem;
  font-weight: bolder;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#theme-toggle-btn {
  margin-top: 3px;
  padding: 3px 4px;
  background-color: var(--snake-color);
  border: 1px solid var(--snake-color);
  border-radius: 5px;
  color: var(--text-color);
}

select {
  margin-top: 3px;
  padding: 2px 6px;
  background-color: var(--snake-color);
  border: 1px solid var(--snake-color);
  border-radius: 5px;
  color: var(--text-color);
}

#game-over {
  font-size: 1.2rem;
  font-weight: bold;
}

.hide-element {
  visibility: hidden;
}

footer {
  opacity: 0.2;
  margin-top: 6rem;
}

#footer-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#github-image {
  max-width: 1.5rem;
  max-height: 1.5rem;
  margin: 0 0.3rem;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 0.9rem;
}
