/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Poppins:wght@300&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background: #FCD7AD;
}

#board {
  border: 5px solid #5296A5;
  border-radius: 5px;
}

#scores-div {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  font-size: 1.2rem;
  font-weight: bolder;
}

#game-over {
  font-size: 1.2rem;
  font-weight: bold;
}

.hide-element {
  visibility: hidden;
}